<div class="container">
    <div class="card row mt-4 mb-3">
        <h5 class="card-header">Criar Review</h5>
        <div class="card-body col-md-6">
            <form  #orderForm="ngForm">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" aria-describedby="titulo" [(ngModel)]="fraseModel.titulo" name="titulo">
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" aria-describedby="descricao" [(ngModel)]="fraseModel.descricao" name="descricao">
                </div>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Registrar frase</button>
            </form>
        </div>

        <div class="col-md-6">
            <div *ngFor="let frase of listaFrases" class="card col-sm-3 col-md-4 mt-5 ml-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{frase.titulo}}</h5>
                    <p class="frase-text">{{frase.descricao}}</p>
                    <button type="submit" class="btn btn-danger" (click)="deletaFrase(frase._id)">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</div>